<div class="featured-car content-area" style="padding-top:0px; padding-left:50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-4" style="border: 1px solid #ddd; border-radius: 10px; padding: 15px;">
                <!-- Option bar start -->
                <div class="option-bar clearfix">
                    <div class="sorting-options2 custom-search-container">
                        <span class="sort">Sortera:</span>
                        <div class="dropdown bootstrap-select custom-search-fields-container">
                            <select class="optionBar custom-search-fields" name="default-order">
                                <option>Ordinare</option>
                                <option>Pris: Högt till Lågt</option>
                                <option>Pris: Lågt till Högt</option>
                                <option>Nyast Inkomna</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div>
                    <!-- Car box 2 start -->
                    <!-- First car on website start-->
                    @foreach (var cars in Service!.Cars)
                    {   
                    <div class="car-box-2">
                        <div class="row g-0">
                            <div class="col-lg-5 col-md-5">
                                <div class="car-thumbnail">
                                    <div class="image-container">
                                        <img class="d-block w-100" id="carImage" src="images/car-2.jpg" alt="car">
                                        <a href="#" class="prev" onclick="changeImage(-1, event)">&#10094;</a>
                                        <a href="#" class="next" onclick="changeImage(1, event)">&#10095;</a>
                                    </div>
                                </div>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <a class="overlap-btn" data-bs-toggle="modal" data-bs-target="#carOverviewModal">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                            <a class="overlap-btn wishlist-btn">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                            <a class="overlap-btn compare-btn">
                                                <i class="fa fa-balance-scale"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 align-self-center">
                                <div class="detail">
                                    <h5 class="title">
                                        <h5>@cars.Make?.Name @cars.Model?.Name</h5>
                                    </h5>
                                    <span class="price">
                                        <i class="bi bi-tag-fill"></i> @cars.Price kr
                                    </span>
                                    <ul class="facilities-list clearfix">
                                        <li><i class="bi bi-speedometer2"></i> @cars.Mileage</li>
                                        <li><i class="bi bi-gear"></i> Automat</li>
                                        <li><i class="bi bi-calendar3"></i> @cars.Year</li>
                                        <li><i class="bi bi-fuel-pump"></i> Bensin</li>
                                        <li><i class="bi bi-car-front"></i> Sport</li>
                                        <li><i class="bi bi-paint-bucket"></i> Röd</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                    <script>
                        var images = ["images/car-2.jpg", "images/hidden-1.jpg"]; // lista med bildsökvägar
                        var currentImageIndex = 0;
                        var carImage = document.getElementById('carImage');

                        function changeImage(direction, event) {
                            event.preventDefault(); // Förhindra standardbeteendet för länken
                            currentImageIndex += direction;
                            if (currentImageIndex < 0) {
                                currentImageIndex = images.length - 1;
                            } else if (currentImageIndex >= images.length) {
                                currentImageIndex = 0;
                            }
                            carImage.src = images[currentImageIndex];
                        }
                    </script>

                    <!-- First car on website stop-->
                </div> <!--Alla car boxes måste ligga innan den här slut diven -->
            </div>
        </div>
    </div>
</div>


@code {
    [CascadingParameter(Name = "Service")] public UIService? Service { get; set; }
    [Parameter] public EventCallback OnChange { get; set; }


}



